{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "Swagger Example API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.dengovie.ingress",
    "basePath": "/api/v1",
    "paths": {
        "/auth/login": {
            "post": {
                "description": "login-with-otp-code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Зайти с telegramAlias и коду. На время тестирования подходит 111",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dengovie.LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "данные невалидные",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "description": "logout",
                "summary": "Выйти из профиля",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/auth/request_code": {
            "post": {
                "description": "request-otp-code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Запросить код для входа",
                "parameters": [
                    {
                        "description": "telegramAlias",
                        "name": "telegramAlias",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok, код отправлен",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "данные невалидные",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    },
                    "404": {
                        "description": "клиент не зарегистрирован в боте",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    }
                }
            }
        },
        "/debts": {
            "get": {
                "description": "list-user-groups",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Список всех долгов юзера, в которых он состоит",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/dengovie.ListDebtsResponseBody"
                        }
                    },
                    "400": {
                        "description": "невалидный запрос",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    },
                    "404": {
                        "description": "клиент не найден",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    }
                }
            }
        },
        "/debts/pay": {
            "post": {
                "description": "pay-debt-to-user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Выплатить долг пользователю",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dengovie.PayDebtRequest"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "невалидный запрос",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    }
                }
            }
        },
        "/debts/share": {
            "post": {
                "description": "list-user-groups",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Разделить долг между пользователями",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dengovie.ShareDebtRequest"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "невалидный запрос",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    }
                }
            }
        },
        "/groups": {
            "get": {
                "description": "list-user-groups",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Вернуть список групп пользователя, в которых он состоит",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "невалидный запрос",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    },
                    "404": {
                        "description": "клиент не найден",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    }
                }
            }
        },
        "/groups/{groupID}/users": {
            "get": {
                "description": "list-users-in-group",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Список юзеров в группе",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "groupID",
                        "name": "groupID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "невалидный запрос",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    },
                    "404": {
                        "description": "группа не найдена",
                        "schema": {
                            "$ref": "#/definitions/web.APIError"
                        }
                    }
                }
            }
        },
        "/user": {
            "get": {
                "description": "get-me",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Получение информации о профиле пользователя",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/dengovie.GetMeResponse"
                        }
                    }
                }
            }
        },
        "/user/delete": {
            "delete": {
                "description": "update-my-name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Удаление залогиненного юзера",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/user/update_name": {
            "post": {
                "description": "update-my-name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Обновление имени юзера",
                "parameters": [
                    {
                        "description": "body",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dengovie.UpdateNameInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "dengovie.GetMeResponse": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "dengovie.ListDebtsResponseBody": {
            "type": "object",
            "properties": {
                "debts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dengovie.UserDebt"
                    }
                }
            }
        },
        "dengovie.LoginRequest": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "otp": {
                    "type": "string"
                }
            }
        },
        "dengovie.PayDebtRequest": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "another_user_id": {
                    "description": "Долг перед кем выплачивается",
                    "type": "integer"
                },
                "full": {
                    "description": "Full если true, то сумма не учитывается",
                    "type": "boolean"
                }
            }
        },
        "dengovie.ShareDebtRequest": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "group_id": {
                    "type": "integer"
                },
                "user_ids": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                }
            }
        },
        "dengovie.UpdateNameInput": {
            "type": "object",
            "properties": {
                "new_name": {
                    "type": "string"
                }
            }
        },
        "dengovie.UserDebt": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "another_user_id": {
                    "type": "integer"
                },
                "another_user_name": {
                    "type": "string"
                }
            }
        },
        "web.APIError": {
            "type": "object",
            "properties": {
                "errorReason": {
                    "$ref": "#/definitions/web.ErrorReason"
                }
            }
        },
        "web.ErrorReason": {
            "type": "string",
            "enum": [
                "telegram_not_found",
                "invalid_otp",
                "debtor_not_in_group",
                "buyer_not_in_group"
            ],
            "x-enum-varnames": [
                "TelegramNotFound",
                "InvalidOTP",
                "DebtorNotInGroup",
                "BuyerNotInGroup"
            ]
        }
    },
    "securityDefinitions": {
        "BasicAuth": {
            "type": "basic"
        }
    },
    "externalDocs": {
        "description": "OpenAPI",
        "url": "https://swagger.io/resources/open-api/"
    }
}